body{
    font-family: 'Montserrat', sans-serif;
}
p{
  color: #AAAAAA;
}
h2{
  font-family:'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
h3{
  font-family:'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}


.heading{
  font-size: 3.5rem;
  line-height: 1.5;

}
.container-fluid{
  padding: 3% 15% 7%;
}
#title{
  background-color: #ff4c68;
}.tittle-img{
  width: 60%;
  transform: rotate(30deg);
  position: absolute;
  right: 20%
}
#features{

  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.featuer-box{
    text-align: center;
    padding: 5%;
  }
  .icon{
    color: #ef8172;
    margin-bottom: 1rem;
  }
  .icon:hover{
    color: #ff4c68;
  }
/*-------Navbar------*/

.navbar{
  padding-bottom: 2.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size:2.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.1rem;
}

/* download-button */

.download-button{
  margin:5% 3% 3% 0;
}

/* tittle-img */



/* Testimonials */

#testimonials{

  text-align: center;
  background-color: #ef8172;
  color:#ffff;
}
.testimonials-img{
  width: 10%;
  border-radius:100%;
  margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}

#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-img{
  width:15%;
  margin:20px 20px 50px;
}

/* pricing */
#pricing{
  text-align: center;
  padding: 7% 15%;
}
.pricing-col{
  padding: 60px 20px;
}


/* cta */

#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 3% 15%;
  color:#fff;
}
.cta-heading{
  font-size:3rem;
}

/* footer */
#footer{
  text-align:center;
  padding: 5% 15%;

}
.footer-p{
  word-spacing:10px;
  color: black;
}
